.slick-slider {

    &.arrow-1 {
        
        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 40px;
            opacity: 0.8;
            cursor: pointer;
            transition: all 0.3s ease-out;

            &.left {
                left: -120px;
            }

            &.right {
                right: -120px;
            }

            &:hover {
                opacity: 1;
                transition: all 0.3s ease-out;
            }
        }
    }

    &.arrow-2 {

        .arrows-wrapper {
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            width: 60px;
            height: 60px;
            line-height: 69px;
            text-align: center;
            cursor: pointer;

            &:hover {

                &:before {
                    transition: all 0.3s ease-out; 
                }
            }

            &:before {
                display: inline-block;
                font: normal normal normal 28px/1 FontAwesome;
                transition: all 0.3s ease-out;
            }

            &.left {
                left: -30px;

                &:before {
                    content: '\f104';
                }
            }

            &.right {
                right: -30px;

                &:before {
                    content: '\f105';
                }
            }
        }
    }

    &.arrow-3 {

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;

            &.left {
                left: -30px;
            }

            &.right {
                right: -30px;
            }
        }
    }


    &.dots-1 {

        .slick-dots {
            bottom: 60px;
        
            li {
                width: auto;
                height: auto;
                margin: 0 10px;
                text-align: center;
                
                button {
                    width: 9px;
                    height: 9px;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 50%;  
                    margin: 0 auto;
                    padding: 0;
                    display: block;
                    transition: all 0.3s ease-out;
                    
                    &:before {
                        color: transparent;
                    }

                    &:hover {
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
}